Repository matomo-org/tag-manager, pull requests merged in 2018-11, with the labels that each got.

#121 Make sure that if JS tracker doesnt get bundled the tracking still works
  Template/Tag/MatomoTag.php
  Template/Tag/MatomoTag.web.js
Labels: Bug

#120 Allow users to configure set secure cookie
  Template/Tag/MatomoTag.web.js
  Template/Variable/MatomoConfigurationVariable.php
Labels: Needs Review, not-in-changelog

#111 add drift tag
  Template/Tag/DriftTag.php
  Template/Tag/DriftTag.web.js
  images/icons/drift.svg
  lang/en.json
Labels: Help wanted: new tag, Needs Review

#102 first version of ThemeColorTag
  Template/Tag/ThemeColorTag.php
  Template/Tag/ThemeColorTag.web.js
  images/icons/chrome.svg
  lang/en.json
Labels: Needs Review, New Tag

#95 Add LiveZilla Tag
  Template/Tag/LivezillaDynamicTag.php
  Template/Tag/LivezillaDynamicTag.web.js
  images/icons/livezilla_icon.png
  lang/en.json
Labels: Needs Review, New Tag

#76 add Bing Conversion Tracking
  Template/Tag/BingUETTag.php
  Template/Tag/BingUETTag.web.js
  images/icons/bing.svg
  lang/en.json
Labels: Needs Review, New Tag

#65 Added Emarsys tag
  Template/Tag/EmarsysTag.php
  Template/Tag/EmarsysTag.web.js
  images/icons/emarsys.svg
  lang/en.json
Labels: Needs Review, New Tag

#64 Added VWO tag
  Template/Tag/VisualWebsiteOptimizerTag.php
  Template/Tag/VisualWebsiteOptimizerTag.web.js
  images/icons/visualwebsitepptimizer.svg
  lang/en.json
Labels: Needs Review, New Tag

#129 Make sure event value can accept variables and numbers
  Template/Tag/MatomoTag.php
Labels: Needs Review, not-in-changelog
